.designer-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* Left palette */
.palette-container {
  width: 250px;
  background: #ffffff;
  border-right: 1px solid #ddd;
}

/* Center design area */
.canvas-area {
  flex: 1;
}
.menu-item.active {
  background: rgba(236, 94, 149, 0.1);
  color: #EC5E95;
}
.menu-item{
  border: none;
}