/* Hero.css */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 80px;

  padding: 80px 100px;

  min-height: 90vh;

  width: 100%;

  background: white;

  position: relative;

  overflow: hidden;
}

/* LEFT */



.hero-left {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-left img {
  width: 760px;              /* BIGGER IMAGE */
  height: 520px;

  object-fit: cover;

  border-radius: 40px;  
   margin-left: -120px;     /* ROUNDED CORNERS */

  filter: drop-shadow(
    0 25px 40px rgba(236, 94, 149, 0.12)
  );

  transition: all 0.4s ease;
}

.hero-left img:hover {
  transform: translateY(-6px);
}

/* RIGHT */

.hero-right {
  max-width: 520px;

  display: flex;
  flex-direction: column;

  gap: 22px;

  position: relative;
  z-index: 2;
}

/* HEADING */

.hero-right h1 {
  font-size: 68px;

  line-height: 1.15;

  font-weight: 600;

  color: rgba(0, 0, 0, 0.88);
}

/* HIGHLIGHT */

.hero-right span {
  background: linear-gradient(
    90deg,
    #ec5e95,
    #f28ab0
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* PARAGRAPH */

.hero-right p {
  font-size: 17px;

  line-height: 1.8;

  color: rgba(0, 0, 0, 0.6);

  max-width: 450px;
}

/* BUTTON */

.cta {
  width: fit-content;

  margin-top: 10px;

  padding: 15px 34px;

  border: none;
  border-radius: 40px;

  color: white;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  background: linear-gradient(
    90deg,
    #ec5e95,
    #f28ab0
  );

  box-shadow: 0 10px 25px rgba(236, 94, 149, 0.18);

  transition: all 0.3s ease;
}

.cta:hover {
  transform: translateY(-3px);

  box-shadow: 0 15px 30px rgba(236, 94, 149, 0.25);
}

/* FLOATING DECORATIONS */

.floating {
  position: absolute;

  border-radius: 50%;

  opacity: 0.35;

  z-index: 0;
}

.bead1 {
  width: 120px;
  height: 120px;

  background: #fad1e0;

  top: 120px;

  left: 40px;
}

.bead2 {
  width: 80px;
  height: 80px;

  background: #ec5e95;

  bottom: 100px;
  right: 150px;
}

/* RESPONSIVE */

@media (max-width: 992px) {
  .hero {
    flex-direction: column;

    text-align: center;

    padding: 60px 30px;
  }

  .hero-right {
    align-items: center;
  }

  .hero-right h1 {
    font-size: 52px;
  }

  .hero-left img {
    width: 360px;
  }

  .nav-links {
    display: none;
  }
}