/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 80px;

  background: white;

  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  position: sticky;
  top: 0;
  z-index: 100;

  font-family: "Poppins", sans-serif;
}

/* LOGO */

.logo {
  font-size: 24px;
  font-weight: 700;

  color: #EC5E95 !important;

  letter-spacing: -0.5px;
}
.logo a {
  color: #EC5E95 !important;
  text-decoration: none;
}
.circle {
  color: #ec5e95;
  margin-left: 4px;
}

/* NAV LINKS */

.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-links li {
  cursor: pointer;

  color: rgba(0, 0, 0, 0.7);

  font-size: 15px;
  font-weight: 500;

  transition: 0.3s ease;
}

.nav-links li:hover {
  color: #ec5e95;
}

/* BUTTONS */

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-buttons button {
  padding: 12px 24px;

  border-radius: 30px;

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;

  transition: all 0.3s ease;
}

/* LOGIN */

.login {
  background: transparent;

  border: 1.5px solid #ec5e95;

  color: #ec5e95;
}

.login:hover {
  background: #fad1e0;
}

/* SIGNUP */

.signup {
  border: none;

  color: white;

  background: linear-gradient(
    90deg,
    #ec5e95,
    #f28ab0
  );

  box-shadow: 0 10px 25px rgba(236, 94, 149, 0.18);
}

.signup:hover {
  transform: translateY(-2px);
}